.heading{
	color:#C3073F;
	font-size: 20px;
}

#map{
	/*margin-left: 30%;*/
      height:150px;
      width:100%;
      /*border-color: blue;*/
      border-radius: 3%; 
      border-spacing: 2%;
      /*borer*/
    }
#first{
	margin-left: 5%;
	border-radius: 10px;
	border-width: 3px;
}

#second{

	margin-left: 10%;
	border-radius: 10px;
	border-width: 3px;
}

#answer{
	text-align: right;	
	margin-left: 13%;
	border-radius: 10px;
	border-width: 3px;
}
.flexx{
	margin-left:90%;
	display: inline-flex;
}
.clock{
	/*margin-left:;*/
	color:#C3073F
}

#time{
	margin-left:10%;
	padding-left:10px 25px;
	background: white;
	color:black;
}

#hides{
	display: none;
}
.inputs {
	padding: 20px;
	display:inline-grid;
	/*position: absolute;*/
}
.body{
	background:#1A1A1D;
}
.enter{
	color:white;
	margin-left: 6%;
}
.snum{
	margin-left: 8%;
}
.out{
	margin-left: 10%;
}
#add{		
}
.card-footer{
	text-align: center;
}
.card{
	/*resize: 10px;*/
	margin-top:5%;
	background: #4E4E50;
}
.buttons{
	/*size:10px;*/
	display:inline-block;
	padding : 0px 16%;
	/*font-size: */
}
.location{
	 -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
        animation: mymove 5s infinite;
	background:white;
	font-family: serif;
	font-style: oblique;
	text-align:center; 
	color:black;
}
	
#wel{
	/*background: black;*/
      
	font-size: 60px;
	font-family: serif;
	font-style: oblique;
	text-align:center; 
	color:black;
}
.btn:hover{
	color:black;
	font-size: 20px;
}
#reset{
	margin-left: 20px;
}
.map_p{
	display: inline-flex;
}
.card-title{
	margin-top: 0px;
	padding-top: 0px	;
}
@-webkit-keyframes mymove {
    from {background-color: #C3073F;}
    to {background-color: #66FCF1;}
 }